<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.toado">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ToadoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ChatTheme"
        tools:replace="android:theme">
        <activity
            android:name=".SplashAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.register.PersonalDetailsAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.profile.ProfileAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.OtpAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Contact.SendContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.register.MobileRegisterAct"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.userprofile.UserProfileAct"
            android:screenOrientation="portrait" />

        <service android:name=".services.UploadFileService" />

        <activity
            android:name=".activity.videocalls.VideoCallScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TinderChat.Matches.MatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TinderChat.Chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.videocalls.IncomingVideoCallScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.main.MainAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.customgallery.CustomPhotoGalleryActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".helper.ImageComment"
            android:label="@string/title_activity_image_comment"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activity.settings.DistancePreferencesActivity" />

        <service android:name=".services.LocServ" />
        <service android:name=".services.DownloadMangerService" />

        <activity
            android:name=".activity.chat.ChatActivity"
            android:theme="@style/ChatTheme" />

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.settings.SettingsActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".services.SinchCallService" />

        <activity
            android:name=".activity.calls.CallScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.calls.IncomingCallScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.chat.ForwardChatActivity" />
        <activity
            android:name=".activity.register.ChooseAct"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.chat.CamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chat.ShowPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.chat.CameraCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.chat.MediaPreviewActivity" />
        <activity android:name=".TinderChat.StarredMessages.StarMessageActivity" />
        <activity android:name=".activity.userdetail.UserDetail" />
        <activity android:name=".activity.SharedItems.SharedItemsActivity" />
        <activity android:name=".activity.Account.AccountAct" />
        <activity android:name=".activity.Account.PrivacyAct" />
        <activity android:name=".activity.Account.SecurityAct" />
        <activity android:name=".activity.ChatSettings.ChatSettingsAct" />
        <activity android:name=".NotificationsSettings.NotifiSettingsAct" />
        <activity android:name=".activity.Notifications.NotificationsAct" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_splash" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".activity.chat.ShowList" />
        <activity android:name=".activity.Account.AccountUpdate" />
        <activity android:name=".activity.Account.VerifyNumber" />
        <activity android:name=".activity.ToadoContacts.ToadoContacts" />
        <activity android:name=".activity.GroupChat.AddGroup" />
        <activity android:name=".FirebaseChat.FirebaseChat" />
        <activity
            android:name=".FirebaseChat.ShareLocation.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".FirebaseChat.ForwardChatMessage" />
        <activity android:name=".FirebaseChat.OpenChatPhoto" />
        <activity android:name=".FirebaseChat.AddCaptionChatPhoto" />
        <activity android:name=".activity.GroupChat.GroupChatActivity" />
        <activity android:name=".activity.GroupChat.GroupDetail" />
        <activity android:name=".activity.ToadoContacts.ToadoContactsHelp" />
        <activity android:name=".activity.BlockedUsers.BlockedUsers" />
        <activity android:name=".activity.Invite.Invite" />
        <activity android:name=".activity.Invite.InviteFacebook" />
        <activity android:name=".activity.Invite.InviteContacts" />
        <activity android:name=".activity.Invite.InviteCalls" />
        <activity android:name=".activity.AppSettings.AppSettings" />
        <activity android:name=".TinderChat.ForwardChat.ForwardChat" />
        <activity android:name=".TinderChat.Chat.ChatContacts.ChatContacts" />
        <activity android:name=".TinderChat.Chat.ChatContacts.ShowContact" />

        <receiver
            android:name=".activity.PushReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="me.pushy.sdk.receivers.PushyUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver
            android:name="me.pushy.sdk.receivers.PushyBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal socket service -->
        <service android:name="me.pushy.sdk.services.PushySocketService" />

        <activity android:name=".fragments.sharedItems.ShowSharedMedia" />
        <activity android:name=".activity.GroupChat.GroupShareLocation" />
        <activity android:name=".activity.GroupChat.GroupChatContacts.GroupChatContact" />
        <activity android:name=".activity.Help" />
        <activity android:name=".activity.AppInfo"></activity>
    </application>

</manifest>